<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/Mikitok" title="@mikito" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Douban -->
  <li class="navigation__item">
    <a href="https://www.douban.com/people/148987940/" title="@mikito" target="_blank">
      <i class='social iconfont icon-douban_F '></i>
      <span class="label">Douban</span>
    </a>
  </li>

  <!-- QQ -->
  <li class="navigation__item">
    <a href="tencent://message/?Menu=yes&uin=978808462" title="大萌" target="_blank">
      <i class='social iconfont icon-qq '></i>
      <span class="label">QQ</span>
    </a>
  </li>

  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:mikito.z@qq.com" title="Mail me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
